.calc {
    border: 1px solid black;
    width: 244px;
    padding: 5px;
}

.calc .display {
    width: 240px;
    height: 80px;
    margin-bottom: 5px;
    font-size: 30px;
    text-align: right;
}

.calc button {
    width: 54px;
    height: 40px;
    font-size: 25px;
    margin: 5px 2px 2px 2px;
}